@model Homework6.Models.CardBody

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Confirm</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> Birthday Card Generator </a>
    </nav>

    <main role="main" class="container">

        <div class="alert alert-primary" role="alert">
            Birthday Card Sent
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">From: @Model.From</li>
            <li class="list-group-item">To: @Model.To</li>
            <li class="list-group-item">Message: @Model.Message</li>
        </ul>

    </main>
</body>
</html>
